---
driver:
  name: vagrant
  synced_folders:
          - ["../../data", "/vagrant_data"]
  network: 
  customize:
    nictype1: 'virtio'
provisioner:
  name: chef_zero
  cookbook_path: <%= File.expand_path('../../cookbooks') %>
  data_bags_path: <%= File.expand_path('../../data_bags') %>
  environments_path: <%= File.expand_path('../../environments') %>
  roles_path: <%= File.expand_path('../../roles') %>
  client_rb:
    environment: 

platforms:
  #  - name: ubuntu-14.04
  #- name: centos-7.1
  - name: centos-6.7
  #- name: macosx-10.10
  #- name: macosx-1011
suites:
  - name: default
    run_list:
            #- recipe[chef_workstation]     
            - recipe[sample-cookbook::default]
    attributes:
